body, .g-std {font-family:Arial, Helvetica, sans-serif; font-size:small}
form {margin:0; padding:0}
a:active, a:link, .g-novisited a:visited {color:#00c; text-decoration:none}
a:visited {color:#909; text-decoration:none}
.g-b {font-weight:bold}
.g-em {color:#090; font-weight:bold}
.g-err {color:#f00}
.g-hlp {color:#666}
.g-pipe {color:#99f}
.g-txtBx, .g-btn, .g-nav {font-family:Verdana; font-size:x-small}
.g-txtBxHlp {color:#666; font-family:Verdana; font-size:x-small}
.g-m0 {margin:0}
a:hover {text-decoration:underline}
.g-i {font-style:italic}
.g-bi {font-weight:bold; font-style:italic}
.g-dft {font-weight:normal}
.g-dfti {font-weight:normal; font-style:italic}
.g-s {font-size:small}
.g-xs {font-size:x-small}
.g-m {font-size:medium}
.g-l {font-size:large}
.g-xl {font-size:x-large}
.g-hdn {height:0; line-height:0; overflow:hidden; width:0; position:absolute; font-size:0; z-index:-1}
.psc-cstle {margin:10px; padding:10px; border-style:solid; border-width:2px; border-color:blue; background-color:#c65}
.psc-top {border-style:solid; border-width:thin; border-color:blue; height:1%}
.psc-lft {margin:10px 0 10px 0; border-style:solid; border-width:thin; border-color:blue}
.psc-cntr {margin:10px; border-style:solid; border-width:thin; border-color:blue}
.psc-rgt {margin:10px 0 10px 0; border-style:solid; border-width:thin; border-color:blue}
.psc-bttm {border-style:solid; border-width:thin; border-color:blue}
.psc-title {font-weight:bold}
.psc-cptn {}
.psc-prfix {}
.psc-sffx {}
.psc-info {}
.psc-err {color:red}
.pic-sz {padding-left:6px; font-family:verdana; color:#333; font-size:x-small; padding:0px 0px 0px 6px}
.pgn a.arrL, .pgn a.arrR {display:inline-block; vertical-align:middle}
.pgn {width:100%; border:0}
.pgn-cnt {padding-left:10px; padding-right:10px}
.pgn .pgn-td-l {padding:0 15px 0 0}
.pgn .pgn-td-c {padding:0 5px; text-align:center}
.pgn .pgn-td-r {padding:0 0 0 15px; text-align:right}
.pgn .pgn-p {padding:6px 5px 6px 8px}
.pgn .dpN {display:none}
.pgn .pgn-pg {padding:6px 5px 6px 8px; color:#666}
.pgn .pgn-n {padding:6px 8px 6px 7px; white-space:nowrap}
.pgn .pgn-ng {padding:6px 8px 6px 5px; color:#666}
.pgn img {vertical-align:-30%}
.pgn form {margin:0 0 0 0; display:inline}
.pgn .pgn-num {}
.pgn .pgn-num .pgn-b {font-weight:bold}
.pgn .pgn-num span.pgn-b, .pgn .pgn-num a {padding:0 4px}
.pgn tr a {text-decoration:none}
.pgn * a:hover {text-decoration:underline !important}
.pgn .pgn-nowrap {white-space:nowrap; color:#333; margin-right:4px}
.pgn .pgn-gt-sp {color:#333}
.pgn .pgn-gt-sp span {white-space:nowrap; font-weight:bold}
.pgn .pgn-gt-sp span span {font-weight:normal}
.pgn .pgn-pginput input {width:29px; color:#000; padding:0}
.pgn .pgn-pipe {color:#999}
.pgn .pgn-disabled {color:#666}
.pgn-0 {padding-top:5px; padding-bottom:5px; padding-left:10px; padding-right:10px; color:#333}
.pgn-0 span {font-weight:bold}
.pgn-0 span span {font-weight:normal}
.pgn .e_t .aBtn-btn, .pgn .e_t .aBtn-bClick, .pgn .e_t .aBtn-bDis {padding:0}
.pgn .e_t .aBtn-btn .aBtn-b1 {padding-left:10px}
.pgn .e_t .aBtn-btn .aBtn-b2 {padding-right:10px}
.pgn .e_t .aBtn-btn .aBtn-bTxt {padding:6px 0}
.pgn .e_t {padding-left:6px}
html>body .e_t {vertical-align:inherit; padding-bottom:0px; padding-top:6px}
.pgn .m_t .aBtn-btn, .pgn .m_t .aBtn-bClick, .pgn .m_t .aBtn-bDis {}
.pgn-optbarcont {height:20px; margin-bottom:10px; padding:7px 0px 2px 0px; width:100%; background-color:#e8e8e8; border-color:#dedede}
.pgn-items {float:Right; padding-right:4px; vertical-align:middle}
.pgn a.arrL div, .pgn a.arrR div {background-color:transparent; background-image:url(http://p.ebaystatic.com/aw/pics/cmp/ui/sprbtnarrows.png); background-repeat:no-repeat; background-position:0px -180px; width:20px; height:20px; cursor:pointer}
.pgn a.arrR div {background-position:0px -270px}
.pgn a:hover.arrL div {background-position:0px -210px}
.pgn a:hover.arrR div {background-position:0px -300px}
.pgn a:hover.arrR, .pgn a:hover.arrL {text-decoration:none}
.pgn a.disL div, .pgn a:hover.disL div {background-position:0px -240px; cursor:default}
.pgn a.disR div, .pgn a:hover.disR div {background-position:0px -330px; cursor:default}
.pgn a:hover.disL, .pgn a:hover.disR {cursor:default; text-decoration:none}
.kPd_1 {padding-left:1px}
.kItmDv {float:left; width:188px; height:256px}
.kLftDv {float:left}
.kLftBdr {height:256px; width:1px}
.khriBdr {margin-top:7px}
.kttlLi {padding-left:20px; overflow:hidden; font-size:13px; padding-top:20px; width:160px; height:35px}
.kOffDiv {bottom:-20px; left:130px; color:#fff; font-size:17px}
.kcriImg {display:block}
.kcntDv1 {top:7px; text-align:center; width:48px}
.kcntDv2 {top:13px; text-align:center; width:48px}
.koffDv {text-align:center; top:23px; font-size:14px; width:48px}
.kimgDv {text-align:center; height:126px; width:184px}
.kimgLnk {color:#1162b7}
.kvhImg {border:0 none; margin-top:5px; margin-bottom:5px; max-width:130px; max-height:130px}
.kbpLi {padding-left:20px; color:#90928a; font-size:15px; height:20px}
.krrpSpn {padding-left:1px}
.kcpLi {padding-left:20px; height:24px; color:#f70c64; font-size:17px; padding-top:8px}
.kvi_nav {cursor:pointer; font-size:14px; padding:14px 5px 0px 5px; width:179px}
.kvi_btm_dv {position:relative}
*:first-child+html .kvi_btm_dv {position:relative; top:-8px}
.kvi_sg {margin-bottom:2px}
*:first-child+html .kvi_sg {margin-bottom:-1px}
.vhTxtLft {text-align:left}
.vhPsAb {position:absolute}
#vhBase {font-family:arial}
.vhWd_68 {width:68px}
.vhWd_72 {width:81px}
.vhFntBld {font-weight:bold}
.vhUl {list-style:none outside none; margin:0; padding:0}
.vhLiTl {height:170px; float:left; width:310px}
.vhTlDv {width:310px; height:170px}
.vhTlTb {text-align:right; width:283px; height:170px}
.vhTl {z-index:1; color:#fff; font-size:20px; left:60px; top:80px}
.vhTp_12 {top:12px}
.vhTp_19 {top:19px}
.vhSdTxt {color:#fff; font-size:14px; left:59px; top:87px}
.vhTp_15 {top:15px}
.vhTp_32 {top:32px}
.vhTp_48 {top:48px}
.vhLiTl2 {height:170px; float:left; padding-right:9px}
.vhCtPc {padding-top:28px; overflow:hidden; width:240px; color:#040404; font-size:20px; line-height:21px; height:50px}
.vhFtTxt {height:32px; padding-top:1px; color:#686868; font-size:13px}
.vhPd_7 {padding-top:7px}
.vhLiBt {float:left; padding-top:22px; width:185px}
.vhHt_33 {height:33px}
.vhBsPrc {color:#f70c64; font-size:26px}
.vhSldTxt {height:22px; color:#90928a; font-size:16px}
.vhPd_41 {padding-top:10px}
.vhHt_166 {height:166px; width:743px}
.vhOpct {color:#fff; font-size:17px; left:115px; top:91px}
.vhTp_14 {top:14px}
.vhTp_26 {top:26px}
.vhTp_36 {top:36px}
.btm_img {clear:both; position:relative}
*:first-child+html .btm_img {clear:both; position:relative}
.vh_slr_dv {height:50px; width:238px; overflow:hidden}
.dd_bkCnt {height:257px; width:371px; overflow:hidden}
.ddLf_0 {left:0px}
.ddLf_372 {left:372px}
.ddClr_ff {color:#fff}
.dd_ttl_b {left:5px; width:365px; overflow:hidden; line-height:21px; height:23px}
.dd_fst_b {top:24px}
.dd_prc_b {font-size:26px; color:#f70c64; white-space:nowrap; top:38px}
.dd_srk_b {color:#90928a; font-size:16px; white-space:nowrap; top:73px}
.dd_f_b {top:104px; line-height:18px; overflow:hidden; font-size:12px; font-family:Arial; color:#686868; width:172px}
.dd_lg_b {width:173px; top:152px}
.dd_btn_b {top:200px}
.dd_lf_196 {left:196px}
.dd_slr_dv {height:30px; overflow:hidden}
body {font-family:Arial, Helvetica, sans-serif; font-size:small; margin:0; padding:0; text-align:center; width:100%}
.page {height:100%; margin-left:auto; margin-right:auto; text-align:left; width:940px}
.clear {clear:both}
.fnt_sz_12 {font-size:12px}
.txt_aln_ctr {text-align:center}
.brd_0_n {border:0 none}
.h1_seo {font-weight:normal; margin:0px; font-size:small}
.footer {clear:both; margin-left:auto; margin-right:auto; text-align:left}
.main_div {padding:0px 5px 0px 5px; background-color:#fff; height:100%; margin-left:auto; margin-right:auto}
.main_div_bg {padding:0px 5px 0px 5px; background-color:#fff; height:100%; margin-left:auto; margin-right:auto; width:940px}
.footer_visible {display:block}
.ddHeader {width:743px; position:relative; z-index:2; height:44px; padding-bottom:7px}
.ddborder {height:236px; width:1px; margin-top:19px}
.ddImgBorder {left:371px; position:absolute}
.legalNote {z-index:17; position:absolute; top:0px; left:0px; height:13px; color:#666; font-family:Arial; font-size:12px; width:940px; text-align:right}
.valueHero {width:745px; float:left}
.gradimage {position:relative; z-index:997}
.valueHeroNote {float:left; height:18px; text-align:right; color:#666; font-family:Arial; font-size:12px; width:743px}
.lglNoteDiv {position:relative; z-index:524; height:16px; text-align:right; color:#666; font-family:Arial; font-size:12px}
.rightContentDiv {text-align:left; width:176px; overflow:hidden; float:left; margin-left:20px; max-height:700px; position:relative; z-index:97}
.secondMiddleDiv {clear:both; height:39px}
.firstMidddlediv {text-align:left; width:743px; overflow:hidden; float:left; padding-bottom:10px; position:relative; z-index:4; height:61px}
.dailyDealImage {position:relative; z-index:2; height:73px; text-align:left}
.pageDiv {float:left; width:744px}
.segmentDiv {text-align:left; float:left; width:940px}
.bottonmContent {position:relative; top:0px; left:0px; width:940px; overflow:hidden}
.dailyDealDiv {text-align:left; width:743px}
.dealDiv {height:257px; position:relative; width:743px; z-index:1}

/* en_GB/11/DealsEuAppSpec_LandingPageViewVarientB_1115254280_en_GB */
/* b=15254280 */